{% extends 'ds/base.html' %}

{% block content %}

<h1 class="title">About</h1>

<div class="content">
    <p>
        This project started as a simple tool to visualize data from <a href="https://daylio.net/" target="_blank">Daylio</a>, an amazing mood tracker app for Android and iOS.

        Since the official app doesn't have an option to see all data in one chart, I decided to create a simple script to do exactly that.
    </p>

    <p>
        Since other folks on Reddit also wanted to get more from their data, I later decided to make it into a very simple web app.
    </p>
</div>

<h2 class="title" id="privacy-policy">Privacy policy</h2>

<div class="content">
    <h3 class="subtitle">Using the anonymous upload</h3>

    <p>
        This website has been created with privacy in mind, and therefore
        you can use the <a href="{% url 'ds:index' %}">anonymous upload</a>,
        in which case:
    </p>

    <ul>
        <li>
            <i class="fas fa-fw fa-cookie"></i> This website <span class="has-text-weight-bold">does not</span> use cookies, trackers, ads or anything.
        </li>
        <li>
            <i class="fas fa-fw fa-file-upload"></i>
            Your uploaded files are <span class="has-text-weight-bold">never</span> stored on the server. Once they're uploaded, they're immediately processed and discarded.
        </li>
    </ul>

    <p>
        If you want to make sure, you can see the source code on <a href="https://github.com/meesha7/daylio-stats" target="_blank"><i class="fab fa-github"></i> GitHub</a>.
    </p>

    <h3 class="subtitle">Using an account</h3>

    <p>
        Using the site with an account comes with a few additional conditions:
    </p>

    <ul>
        <li>
            <i class="fas fa-fw fa-cookie"></i> Only <span class="has-text-weight-bold">essential</span> cookies are used: those for keeping you logged in.
            No other type of cookies is used: no trackers, no ads, no analytics.
        </li>
        <li>
            <i class="fas fa-fw fa-file-upload"></i>
            The files you upload will be processed and discarded, however
            the data they contain will be saved in a database. Only the data
            you provide are stored. You can also choose which parts of the
            uploaded file are stored.
        </li>
        <li>
            <i class="fas fa-fw fa-lock"></i> Your passwords are stored in a way that nobody can read them.
            Not even with a database access.
        </li>
        <li>
            <i class="fas fa-fw fa-trash"></i> You can delete your data anytime.
            The data will be deleted immediately, with no way of restoring them.
        </li>
        <li>
            <i class="fas fa-fw fa-bell"></i> Reminder, that this is still a hobby project.
        </li>
    </ul>
</div>

<h2 class="title">Contributing</h2>

<div class="content">
    <p>
        This project is open source! The source code is located on <a href="https://github.com/meesha7/daylio-stats" target="_blank"><i class="fab fa-github"></i> GitHub</a>.
    </p>

    <p>
        Help is always appreciated. You can contribute in the following ways:
    </p>

    <ul>
        <li>
            <i class="fas fa-fw fa-lightbulb"></i>
            Report bugs, submit new ideas or ask questions on the <a href="https://github.com/meesha7/daylio-stats/issues">Issues page</a> on GitHub
        </li>
        <li>
            <i class="fas fa-fw fa-palette"></i>
            If someone has at least a better sense for design than me, please, hit me up
        </li>
        <li>
            <i class="fas fa-fw fa-code-branch"></i>
            For developers: PRs are welcome!
        </li>
    </ul>
</div>

{% endblock content %}
