{% load static %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Daylio stats</title>

    <!-- Styles -->
    <link rel="stylesheet" href="{% static 'css/bulma-ds.min.css' %}">

    <!-- Fonts -->
    <link rel="stylesheet" href="{% static 'css/fontawesome.min.css' %}">

    <!-- JS -->
    <script type="text/javascript" src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/ds.js' %}"></script>
</head>

<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="main-nav" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item has-text-danger" href="{% url 'ds:index' %}">
                    <span class="icon">
                        <i class="fas fa-chart-line"></i>
                    </span>

                    <span>
                        Get your charts
                    </span>
                </a>

                <a href="{% url 'ds:about' %}" class="navbar-item">
                    <span class="icon">
                        <i class="fas fa-info"></i>
                    </span>

                    <span>About</span>
                </a>

                <a href="{% url 'ds:contributing' %}" class="navbar-item">
                    <span class="icon">
                        <i class="fas fa-hands-helping"></i>
                    </span>

                    <span>Contributing</span>
                </a>
            </div>
        </div>
    </nav>

    <div class="section">
        <div class="container">
            {% block content %}
            {% endblock content %}
        </div>
    </div>
</body>

</html>
