{% load static %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Dailyo stats</title>

    <!-- Styles -->
    <link rel="stylesheet" href="{% static 'css/bulma-ds.min.css' %}">

    <!-- Fonts -->
    <link rel="stylesheet" href="{% static 'css/fontawesome.min.css' %}">

    <!-- JS -->
</head>

<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <!-- TODO: Add some icon or something -->
            <a class="navbar-item" href="{% url 'index' %}">
                <span class="icon">
                    <i class="fas fa-home"></i>
                </span>
            </a>

            <!-- TODO: This will probably need some JS to control -->
            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="main-nav" class="navbar-menu">
            <div class="navbar-start">
                <a href="{% url 'index' %}" class="navbar-item">
                    yoyoyo
                </a>
            </div>
        </div>
    </nav>

    <div class="section">
        <div class="container">
            <h1 class="title">Hello World</h1>
            {% block content %}

            {% endblock content %}
        </div>
    </div>
</body>

</html>
