{% load static %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Daylio stats</title>

    <!-- Styles -->
    <link rel="stylesheet" href="{% static 'css/bulma-ds.min.css' %}">

    <!-- Fonts -->
    <link rel="stylesheet" href="{% static 'css/fontawesome.min.css' %}">

    <!-- JS -->
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'js/ds.js' %}"></script>
</head>

<body>
    <nav class="navbar" aria-label="main navigation">
        <div class="navbar-brand">
            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="main-nav" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item has-text-danger" href="{% url 'ds:index' %}">
                    <span class="icon">
                        <i class="fas fa-chart-line"></i>
                    </span>

                    <span>
                        Get your charts
                    </span>
                </a>

                <a href="{% url 'ds:about' %}" class="navbar-item">
                    <span class="icon">
                        <i class="fas fa-info"></i>
                    </span>

                    <span>About</span>
                </a>

                <a href="{% url 'ds:contributing' %}" class="navbar-item">
                    <span class="icon">
                        <i class="fas fa-hands-helping"></i>
                    </span>

                    <span>Contributing</span>
                </a>
            </div>

            <div class="navbar-end">
                {% if user.is_authenticated %}
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        <i class="fas fa-user profile-icon"></i> {{ user.username }}
                    </a>

                    <div class="navbar-dropdown">
                        <a href="{% url 'ds:settings' %}" class="navbar-item">
                            <span class="icon">
                                <i class="fas fa-cog"></i>
                            </span>

                            <span>Settings</span>
                        </a>

                        <hr class="navbar-divider">

                        <a href="{% url 'ds:logout' %}" class="navbar-item">
                            <span class="icon">
                                <i class="fas fa-sign-out-alt"></i>
                            </span>

                            <span>Logout</span>
                        </a>
                    </div>
                </div>
                {% else %}
                <a href="{% url 'ds:login' %}" class="navbar-item">
                    <span class="icon">
                        <i class="fas fa-user"></i>
                    </span>

                    <span>Login</span>
                </a>
                {% endif %}
            </div>
        </div>
    </nav>

    <div class="section">
        <div class="container">
            {% block content %}
            {% endblock content %}
        </div>
    </div>
</body>

</html>
