{% extends 'ds/base.html' %}

{% block content %}

<h1 class="title">Contributing</h1>

<div class="content">
    <p>
        This project is open source! The source code is located on <a href="https://github.com/meesha7/dailyo-stats" target="_blank">GitHub</a>.
    </p>

    <p>
        Help is always appreciated. You can contribute in the following ways:
    </p>

    <ul>
        <li>Report bugs, submit new ideas or ask questions on the <a href="https://github.com/meesha7/dailyo-stats/issues">Issues page</a> on GitHub</li>
        <li>If someone has at least a better sense for design than me, please, hit me up</li>
        <li>For developers: PRs are welcome!</li>
    </ul>
</div>

{% endblock content %}
