{% extends 'ds/base.html' %}

{% block content %}
<h1 class="title">Dashboard</h1>

<article class="message">
    <div class="message-header">
        <p>Overview</p>
    </div>

    <div class="message-body">
        <p>
            Total entries: {{ count }}<br>
            First entry: {{ first.datetime | date:'Y-m-d h:i' }}<br>
            Last entry: {{ last.datetime | date:'Y-m-d h:i' }}<br>
            Days since first entry: {{ days_since_first }}
        </p>
    </div>
</article>

{% endblock content %}
