{% extends 'ds/base.html' %}
{% load static %}

{% block content %}

<h1 class="title">Daylio stats</h1>

<div class="columns">
    <div class="column">
        <h2 class="title is-4">Get your charts</h2>

        {% if ERR %}
        <div class="notification is-danger">
            {{ ERR }}
        </div>
        {% endif %}

        <article class="message is-success">
            <div class="message-header">
                <p>Get your charts</p>
            </div>
            <div class="message-body">
                <form action="{% url 'ds:process' %}" method="post" enctype="multipart/form-data">
                    <!-- TODO: Make it pretty with bulma -->
                    <div class="field">
                        <label for="csv" class="label">Your CSV file:</label>

                        <div class="control">
                            <input id="csv" type="file" name="csv">
                        </div>
                    </div>

                    <div class="field">
                        <div class="control">
                            <button class="button is-primary" type="submit">Submit</button>
                        </div>
                    </div>

                    {% csrf_token %}
                </form>
            </div>
        </article>

        <article class="message is-info">
            <div class="message-header">
                <p>Limitations</p>
            </div>
            <div class="message-body">
                <div class="content">
                    <ul>
                        <li>
                            Only the default 5 moods are supported (and they cannot be renamed).
                        </li>
                        <li>
                            Only works when your phone is set to <span class="has-text-weight-bold">English</span>.
                        </li>
                        <li>
                            Only 2 charts are available ATM, since Heroku (hosting) doesn't like long requests and this app is not optimized in any way <span class="is-italic">yet</span>.
                        </li>
                        <li>
                            Not sure if Daylio has different date/time formats, only got 2 based on 12/24 hour clock. If it doesn't work, report a bug <a href="https://github.com/meesha7/daylio-stats/issues" target="_blank">here</a>.
                        </li>
                    </ul>
                </div>
            </div>
        </article>
    </div>

    <div class="column">
        <h2 class="title is-4">Instructions</h2>

        <div class="content">
            <h3 class="title is-5">1. Go into <span class="is-italic">More</span> in Daylio and select <span class="is-italic">Export Entries</span></h3>

            <img class="is-help-img" src="{% static 'images/instructions-export-1.png' %}" alt="More section" width="250px">

            <h3 class="title is-5">2. Select <span class="is-italic">CSV (table)</span></h3>

            <img class="is-help-img" src="{% static 'images/instructions-export-2.png' %}" alt="Export as CSV" width="250px">

            <h3 class="title is-5">3. Save the file somewhere you can find it</h3>

            <img class="is-help-img" src="{% static 'images/instructions-export-3.png' %}" alt="Export file example">

            <h3 class="title is-5">4. Upload the file into the form on your left</h3>
        </div>
    </div>
</div>

{% endblock content %}
