{% extends 'ds/base.html' %}

{% block content %}

<h1 class="title">Daylio stats</h1>

<div class="columns">
    <div class="column">
        {% if ERR %}
        <div class="notification is-danger">
            {{ ERR }}
        </div>
        {% endif %}

        <article class="message is-success">
            <div class="message-header">
                <p>Get your charts</p>
            </div>
            <div class="message-body">
                <form action="{% url 'ds:process' %}" method="post" enctype="multipart/form-data">
                    <!-- TODO: Make it pretty with bulma -->
                    <div class="field">
                        <label for="csv" class="label">Your CSV file:</label>

                        <div class="control">
                            <input id="csv" type="file" name="csv">
                        </div>

                        <p class="help">
                            Your data is <span class="has-text-weight-bold">never</span> stored on the server, if you want to know more,
                            read <a href="{% url 'ds:about' %}#privacy-policy">the privacy policy</a>.
                        </p>
                    </div>

                    <div class="field">
                        <div class="control">
                            <button class="button is-primary" type="submit">Submit</button>
                        </div>
                    </div>

                    {% csrf_token %}
                </form>
            </div>
        </article>
    </div>

    <div class="column">
        <article class="message is-info">
            <div class="message-header">
                <p>Limitations of anonymous uploads</p>
            </div>
            <div class="message-body">
                <div class="content">
                    <ul>
                        <li>
                            Only the default 5 moods are supported (and they cannot be renamed).
                        </li>
                        <li>
                            Only works when your phone is set to <span class="has-text-weight-bold">English</span>.
                        </li>
                        <li>
                            Only 2 charts are available at the moment,
                            because of performance issues.
                        </li>
                        <li>
                            Better support for multiple/different moods
                            is planned for anonymous uploads, too, but
                            is already available after
                            <a href="{% url 'ds:register' %}">creating an account</a>.
                        </li>
                    </ul>
                </div>
            </div>
        </article>
    </div>
</div>

{% include 'ds/parts/help-export.html' %}

{% endblock content %}
