[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
green = "*"
pycodestyle = "*"
isort = "*"

[packages]
numpy = "*"
matplotlib = "*"
django = "*"
gunicorn = "*"
whitenoise = "*"
psycopg2 = "*"
django-dotenv = "*"

[requires]
python_version = "3.9"
