-i https://pypi.org/simple
astroid==2.4.2
colorama==0.4.3
coverage==5.2.1
green==3.2.1
isort==5.4.2
lazy-object-proxy==1.4.3
lxml==4.5.2
mccabe==0.6.1
pycodestyle==2.6.0
pylint==2.6.0
six==1.15.0
toml==0.10.1
unidecode==1.1.1
wrapt==1.12.1
